<div class="row-fluid">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <strong><i class="fa fa-line-chart fa-1x"></i> &nbsp;Apple Price - 3 Days</strong>
      <div class="pull-right">
        <ul class="nav navbar-nav panelButtons">
          <li><span class="glyphicon glyphicon-cog"></span></li>
          <li><span class="glyphicon glyphicon-question-sign"></span></li>
          <li><span class="glyphicon glyphicon-remove"></span></li>  
        </ul>
      </div>

    </div>
    <div class="panel-body">
      <!-- Table -->

    </div>
  </div>
</div>

