<div class="row-fluid">
<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <strong><i class="fa fa-users fa-1x"></i> &nbsp;Trade List </strong>
      <div class="pull-right">
        <ul class="nav navbar-nav panelButtons">
          <li><span class="glyphicon glyphicon-cog"></span></li>
          <li><span class="glyphicon glyphicon-question-sign"></span></li>
          <li><span class="glyphicon glyphicon-remove"></span></li>  
        </ul>
      </div>

    </div>
    <div class="panel-body">
      <!-- Table -->
       <div class="well">
          <div class="media">
            <a class="pull-left" href="#">
            <img class="media-object" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100">
          </a>
          <div class="media-body">
            <p><span class="tradeListItemHeading">Brought</span><span class="pull-right badge">1 min ago</span></p>
            <p>25 shares of Apple</p>
            <p>@ 107.8 USD<span class="pull-right"><i class="fa fa-info"></i>&nbsp;<i class="fa fa-shopping-cart"></i></span></p>
 
             
           </div>
        </div>
      </div>
    </div>
  </div>
</div>