<div class="row-fluid">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <strong><i class="fa fa-bars fa-1x"></i> &nbsp;Watch List</strong>
      <div class="pull-right">
        <ul class="nav navbar-nav panelButtons">
          <li><span class="glyphicon glyphicon-cog"></span></li>
          <li><span class="glyphicon glyphicon-question-sign"></span></li>
          <li><span class="glyphicon glyphicon-remove"></span></li>  
        </ul>
      </div>

    </div>
    <div class="panel-body">
      <!-- Table -->
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Last</th>
          <th>Change</th>
          <th>Volume</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr>
            <td>Apple</td>
            <td>398.67</td>
            <td>-0.244</td>
            <td>15.234</td>
            <td>asfasdfdf</td>
          </tr>
          <tr>
            <td>Apple</td>
            <td>398.67</td>
            <td>-0.244</td>
            <td>15.234</td>
            <td>asfasdfdf</td>
          </tr>
          <tr>
            <td>Apple</td>
            <td>398.67</td>
            <td>-0.244</td>
            <td>15.234</td>
            <td>asfasdfdf</td>
          </tr>
          <tr>
            <td>Apple</td>
            <td>398.67</td>
            <td>-0.244</td>
            <td>15.234</td>
            <td>asfasdfdf</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

